@import 'config/var.scss';
@import 'config/config.scss';
@import 'config/opti.scss';


h1{
  font-weight: bold;
}

header{
  height: 100vh;

  background: url("../images/background.jpg") no-repeat;
  background-size: cover;

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba($color: #000000, $alpha: .3)
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background:linear-gradient(0deg, rgba(0,0,0,1) 4%, rgba(0,0,0,0) 100%);
  }
}

section{
  padding: 80px $pad;
  &.sect__oneTwo{
    .grid__row{
      height: 50vh;
      .grid__col{
        width: 100%;
        max-width: 50%;
        p{
          width: 100%;
          max-width: 450px;
          font-family: "playfair";
          font-weight: normal;
          font-size: 21px;
        }
      }
    }
  }
}



nav{
  padding: 40px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 100;
  
  .grid__row{
    position: relative;
    z-index: 10;
  }

  .grid__col:nth-child(1){
    position: absolute;
    left: 20px;
    a{
      img{
        width: 100%;
        max-width: 130px;
      }
    }
  }

  .grid__col:nth-child(3){
    position: absolute;
    right: 20px;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .8);
    transition: all .3s ease;
  }

  &.blacked{
    &:after{
      top: 0;
    }
  }
}


.nav__social{
  fill: white;
  color: transparent;
  opacity: .6;
  transition: opacity .3s ease;
  &:hover{
    opacity: .8;
    transition: opacity .3s ease;
  }
}
.menu__header{
  a{
    position: relative;
    color: rgba($color: #fff, $alpha: 0.8);
    font-family: "playfair";
    font-weight: normal;
    font-size: 20px;
    padding: 4px;
    margin: 0 5px;
    text-decoration: none;

    &.actif{
      transition: all .3s ease;
      color: rgba($color: #fff, $alpha: 1);
      &:after{
      content: '';
      display: block;
      position: absolute;
      left: 4px;
      z-index: 100;
      background:#D3AD88;
      width: calc(100% - 8px);
      height: 2px;
      transition: all .3s ease;
      }
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 4px;
      background:#D3AD88;
      width: calc(0% - 8px);
      height: 2px;
      transition: all .3s ease;
    }
    
    &:hover{
      transition: all .3s ease;
      color: rgba($color: #fff, $alpha: 1);
      &:after{
        content: '';
        display: block;
        position: absolute;
        left: 4px;
        background:#D3AD88;
        width: calc(100% - 8px);
        height: 2px;
        transition: all .3s ease;
      }
    }
  }
}

.punchline{
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-family: 'playfair';
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.5rem;
  color: white;

}

.title__container{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  h3{
    color: white;
    font-family: 'playfair', serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }
  p{
    color: white;
    font-family:  'roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .7rem;
    text-align: center;
    margin: 0;
  }
}

.bg__black{
  background: black;
  color: white;
  padding-bottom: 200px;
}
.bg__blue{
  background: #202E44;
  color: white;
  position: relative;
}

.content{
  display: block;
  width: 100%;
  max-width: 550px;

  color: white;

  &.content__center{

    font-weight: 100;

    max-width: 450px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
  }
}

.f__top{
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    width: 1px;
    height: 20px;
    transform: translateX(-50%);
    background: #D3AD88;
  }
}

.f__circle{
  position: relative;
    // Left
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: -80%;
      left: -350px;
      width: 500px;
      height: 500px;
      opacity: .2;
    }

  // Right
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: -80%;
    right: -350px;
    width: 500px;
    height: 500px;
    opacity: .2;
  }

  &.f__circle__one{
    &:after{background: url("../images/step_1.svg") no-repeat;} // Left
    &:before{display: none;} // Right
  }
  &.f__circle__two{
    &:after{display: none;} // Left
    &:before{background: url("../images/step_2.svg") no-repeat;} // Right
  }
  &.f__circle__three{
    &:after{background: url("../images/step_3.svg") no-repeat;} // Left
    &:before{display: none;} // Right
  }
}

.blog__section{
  padding: 80px;
  .grid__row{
    justify-content: flex-start;
    .blog__short{
      width: 100%;
      max-width: 33.33%;
      position: relative;
      p{
        width: 100%;
        max-width: 400px;
      }
      .call__to{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      a{
        position: relative;
        text-align: center;
        
        color: #E6E6E6;
        font-family: "roboto";
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
    
        padding: 4px;
        margin: 0 5px;
        text-decoration: none;
    
        &.actif{
          &:after{
          content: '';
          display: block;
          position: absolute;
          left: 4px;
          background:#D3AD88;
          width: calc(100% - 8px);
          height: 2px;
          }
        }
      }
    }
  }
}

.title__section{

  &.title__middleSection{
    font-family: "playfair";
    font-size: 46px;
    margin: 0;
    line-height: 1;
    position: absolute;
    top: -31px;
  }
}

.blog__short{
  h3{
    font-family: "playfair";
    font-size: 31px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0;
    position: relative;
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 1px;
      background: #D3AD88;
      top: 0;
    }
  }
}

.testimony{
  padding-top: 80px;
  .testimony__post{
    opacity: .8;
    &.testimony__secondary{
      opacity: .5;
    }
    p{
      width: 100%;
      max-width: 500px;
      text-align: center;
      padding: 5px 25px;
      font-weight: 100;
    }
    .testimony__sign{
      display: block;
      text-align: center;
      font-weight: 100;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}


footer{
  background: #0A0E14;
  color: rgba($color: #fff, $alpha: .7);
  padding: 15px;

  .grid__row{
    align-items: inherit;
    justify-content: flex-start;
  }

  h4{
    color: rgba($color: #fff, $alpha: 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
  }

  ul{
    padding: 0;
    li{
      list-style: none;
      font-size: 14px;
      margin: 8px 0;
    }
  }

  .grid__col{
    padding: 15px;
  }
  
  .footer__search{

  }

  .footer__logo{
    width: 100%;
    max-width: 20%;
    img{
      width: 100%;
      max-width: 170px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .footer__infos{

  }

  .footer__search{
    width: 100%;
    max-width: 30%;
    input{
      width: 100%;
      max-width: 100%;
      padding: 10px;
      background: none;
      border: none;
      outline: 1px solid rgba($color: #fff, $alpha:.5);
      border-radius: 2px;
      transition: outline .1s ease;
      &:focus{
        outline: 1px solid rgba($color: #fff, $alpha:.8);

      }
    }
  }


}
