@font-face {
  font-family: playfair;
  src: url("../../fonts/woff2/PlayfairDisplay-Regular.woff2") format("woff2"), url("../../fonts/woff/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: playfair;
  src: url("../../fonts/woff2/PlayfairDisplay-Bold.woff2") format("woff2"), url("../../fonts/woff/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: roboto;
  src: url("../../fonts/woff2/Roboto-Thin.woff2") format("woff2"), url("../../fonts/woff/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: roboto;
  src: url("../../fonts/woff2/Roboto-Light.woff2") format("woff2"), url("../../fonts/woff/Roboto-Light.woff") format("woff");
  font-weight: lighter;
}
@font-face {
  font-family: roboto;
  src: url("../../fonts/woff2/Roboto-Regular.woff2") format("woff2"), url("../../fonts/woff/Roboto-Regular.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: roboto;
  src: url("../../fonts/woff2/Roboto-Bold.woff2") format("woff2"), url("../../fonts/woff/Roboto-Bold.woff") format("woff");
  font-weight: bold;
}
body {
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

p {
  line-height: 1.6;
}

.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.grid__row.grid__row--small {
  max-width: 750px;
}

* {
  font-family: "roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.posts__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.posts__container.grid__row {
  max-width: 1600px;
}

.one__posts__container.grid__row {
  max-width: 750px;
}

.posts__container h1 {
  width: 100%;
  max-width: 100%;
  font-family: "playfaire";
  font-size: 41px;
  color: #fff;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.posts__container .post {
  width: 100%;
  max-width: 33.33%;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.posts__container .post:hover .post__title {
  color: rgba(255, 255, 255, 0.8);
}
.posts__container .post.post__latest {
  width: 100%;
  height: 100%;
  max-width: 75%;
}
.posts__container .post.post__latest .post__cover {
  width: 100%;
  max-width: 100%;
  height: 400px;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.posts__container .post .post__cover {
  width: 100%;
  height: 270px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.posts__container .post .post__title {
  font-family: "playfair";
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 4px;
}
.posts__container .post .post__time {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.3);
}
.posts__container .post__secondary {
  width: 100%;
  max-width: 25%;
}
.posts__container .post__secondary .post {
  width: 100%;
  height: 50%;
  max-width: 100%;
  max-height: 50%;
  margin-top: 5px;
}
.posts__container .post__secondary .post:first-of-type {
  margin-top: 0px;
}
.posts__container .post__secondary .post .post__title {
  font-size: 19px;
}

.news__container .news__post h3 {
  font-family: "playfaire";
}

#content {
  width: 100%;
  max-width: 100%;
}
#content ul li {
  padding-bottom: 10px;
  list-style: circle;
  color: rgba(255, 255, 255, 0.6);
}
#content h2, #content h3, #content h4, #content h5 {
  font-family: "playfair";
}
#content h2 *, #content h3 *, #content h4 *, #content h5 * {
  font-family: "playfair";
}
#content h3 {
  font-size: 1.4rem;
  font-weight: normal;
}
#content img {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1 {
  font-weight: bold;
}

header {
  height: 100vh;
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
}
header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
header:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(4%, black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 4%, rgba(0, 0, 0, 0) 100%);
}

.header__small {
  height: 500px;
  background: url("../images/background2.png") no-repeat center;
  background-size: cover;
}
.header__small::before {
  bottom: inherit;
  top: 0;
  height: 500px;
}
.header__small::after {
  height: 500px;
}

section {
  padding: 80px 20px;
}
section.sect__oneTwo .grid__row {
  height: 50vh;
}
section.sect__oneTwo .grid__row .grid__col {
  width: 100%;
  max-width: 50%;
}
section.sect__oneTwo .grid__row .grid__col p {
  width: 100%;
  max-width: 450px;
  font-family: "playfair";
  font-weight: normal;
  font-size: 21px;
}

nav {
  padding: 40px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 100;
}
nav .grid__row {
  position: relative;
  z-index: 10;
}
nav .grid__col:nth-child(1) {
  position: absolute;
  left: 20px;
}
nav .grid__col:nth-child(1) a img {
  width: 100%;
  max-width: 130px;
}
nav .grid__col:nth-child(3) {
  position: absolute;
  right: 20px;
}
nav:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav.blacked:after {
  top: 0;
}

.nav__social {
  fill: white;
  color: transparent;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.nav__social:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.menu__header a {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-family: "playfair";
  font-weight: normal;
  font-size: 20px;
  padding: 4px;
  margin: 0 5px;
  text-decoration: none;
}
.menu__header a.actif {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
}
.menu__header a.actif:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  z-index: 100;
  background: #D3AD88;
  width: calc(100% - 8px);
  height: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__header a:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  background: #D3AD88;
  width: calc(0% - 8px);
  height: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__header a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
}
.menu__header a:hover:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  background: #D3AD88;
  width: calc(100% - 8px);
  height: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.punchline {
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "playfair";
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.5rem;
  color: white;
}

.title__container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}
.title__container h3 {
  color: white;
  font-family: "playfair", serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}
.title__container p {
  color: white;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
}

.bg__black {
  background: black;
  color: white;
  padding-bottom: 200px;
}

.bg__blue {
  background: #202E44;
  color: white;
  position: relative;
}

.content {
  display: block;
  width: 100%;
  max-width: 550px;
  color: white;
}
.content.content__center {
  font-weight: 100;
  max-width: 450px;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.f__top {
  position: relative;
}
.f__top:after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  width: 1px;
  height: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #D3AD88;
}

.f__circle {
  position: relative;
}
.f__circle:after {
  content: "";
  display: block;
  position: absolute;
  top: -80%;
  left: -350px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
}
.f__circle:before {
  content: "";
  display: block;
  position: absolute;
  top: -80%;
  right: -350px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
}
.f__circle.f__circle__one:after {
  background: url("../images/step_1.svg") no-repeat;
}
.f__circle.f__circle__one:before {
  display: none;
}
.f__circle.f__circle__two:after {
  display: none;
}
.f__circle.f__circle__two:before {
  background: url("../images/step_2.svg") no-repeat;
}
.f__circle.f__circle__three:after {
  background: url("../images/step_3.svg") no-repeat;
}
.f__circle.f__circle__three:before {
  display: none;
}

.blog__section {
  padding: 80px;
}
.blog__section .grid__row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.blog__section .grid__row .blog__short {
  width: 100%;
  max-width: 33.33%;
  position: relative;
}
.blog__section .grid__row .blog__short p {
  width: 100%;
  max-width: 400px;
}
.blog__section .grid__row .blog__short .call__to {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.blog__section .grid__row .blog__short a {
  position: relative;
  text-align: center;
  color: #E6E6E6;
  font-family: "roboto";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 4px;
  margin: 0 5px;
  text-decoration: none;
}
.blog__section .grid__row .blog__short a.actif:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  background: #D3AD88;
  width: calc(100% - 8px);
  height: 2px;
}

.title__section.title__middleSection {
  font-family: "playfair";
  font-size: 46px;
  margin: 0;
  line-height: 1;
  position: absolute;
  top: -31px;
}

.blog__short h3 {
  font-family: "playfair";
  font-size: 31px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0;
  position: relative;
}
.blog__short h3:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  background: #D3AD88;
  top: 0;
}

.testimony {
  padding-top: 80px;
}
.testimony .testimony__post {
  opacity: 0.8;
}
.testimony .testimony__post.testimony__secondary {
  opacity: 0.5;
}
.testimony .testimony__post p {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 5px 25px;
  font-weight: 100;
}
.testimony .testimony__post .testimony__sign {
  display: block;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

footer {
  background: #0A0E14;
  color: rgba(255, 255, 255, 0.7);
  padding: 15px;
}
footer .grid__row {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  font-size: 14px;
  margin: 8px 0;
}
footer .grid__col {
  padding: 15px;
}
footer .footer__logo {
  width: 100%;
  max-width: 20%;
}
footer .footer__logo img {
  width: 100%;
  max-width: 170px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
footer .footer__search {
  width: 100%;
  max-width: 30%;
}
footer .footer__search input {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  background: none;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  -webkit-transition: outline 0.1s ease;
  transition: outline 0.1s ease;
}
footer .footer__search input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.8);
}