@import 'config/var.scss';
@import 'config/config.scss';
@import 'config/opti.scss';

@import 'blog.scss';



.close__icon, .menu__icon, .epi__icon{
  display: none;
}

.txt__centered{
  display: block;
  text-align: center;
  margin-bottom: 8px; 
}

.container__photoProfil{
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
  span{
    display: block;
    position: absolute;
    top: 0;
    left: 95px;
    line-height: 145px;
    font-family: 'playfair';
    font-size: 36px;
    color: white;
  }
}
.photoProfil{
  width: 100%;
  max-width: 150px;
  border: 1px solid #d3ad8858;
  border-radius: 50%;
  padding: 10px;
  opacity: .7;
  position: relative;
  display: block;
  left: -75px;
}

.section_text_centered{
  position: relative;
    &::after{
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      left: 0;
      width: 200px;
      height: 2px;
      background: #D3AD88;
      opacity: .15;
    }
    &.section_text_centered--2{
      &::after{
        left: inherit;
        
      }
    }
}

.call__to__mail.bg__black {
  text-align: center;
  padding: 30px 20px;
  height: 50vh;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
    opacity: .15;
    border-top: 1px solid #D3AD88;
  }
  .grid__row{
    max-width: 750px;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    h4{
      font-family: 'playfair';
      font-size: 36px;
      color: white;
      a{
        font-family: 'playfair';
        font-size: 36px;
        color: #D3AD88;
      }
    }
  }
}

h1{
  font-weight: bold;
  font-family: 'playfair';
}

header{
  height: 100vh;
  position: relative;
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba($color: #000000, $alpha: .3)
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background:linear-gradient(0deg, rgba(0,0,0,1) 4%, rgba(0,0,0,0) 100%);
  }
}

.header__small{
  height: 500px;
  background: url("../images/background2.png") no-repeat center;
  background-size: cover;
  &::before{
    bottom: inherit;
    top: 0;
    height: 500px;
  }
  &::after{
    height: 500px;
  }
}

.header__module{
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: rgba($color: #fff, $alpha: .8);
  h1{
    text-align: center;
  }
  span{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    display: block;
    color: rgba($color: #fff, $alpha: .5);
  }
}

section{
  padding: 80px $pad;
  &.sect__oneTwo{
    position: relative;
    p{
      width: 100%;
      max-width: 450px;
      font-family: "playfair";
      font-weight: normal;
      font-size: 21px;
    }
    .grid__row{
      min-height: 45vh;
      .grid__col{
        width: 100%;
        max-width: 50%;

      }
    }
  }
}



nav{
  padding: 25px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 100;
  
  .grid__row{
    position: relative;
    z-index: 10;
  }


  &:after{
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .9);
    transition: all .3s ease;
  }

  &.blacked{
    &:after{
      top: 0;
    }
  }
}



.menu__header{
  a{
    position: relative;
    color: rgba($color: #fff, $alpha: 0.8);
    font-family: "playfair";
    font-weight: normal;
    font-size: 20px;
    padding: 4px;
    margin: 0 5px;
    text-decoration: none;

    &.actif{
      transition: all .3s ease;
      color: rgba($color: #fff, $alpha: 1);
      &:after{
      content: '';
      display: block;
      position: absolute;
      left: 4px;
      z-index: 100;
      background:#D3AD88;
      width: calc(100% - 8px);
      height: 2px;
      transition: all .3s ease;
      }
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 4px;
      background:#D3AD88;
      width: calc(0% - 8px);
      height: 2px;
      transition: all .3s ease;
    }
    
    &:hover{
      transition: all .3s ease;
      color: rgba($color: #fff, $alpha: 1);
      &:after{
        content: '';
        display: block;
        position: absolute;
        left: 4px;
        background:#D3AD88;
        width: calc(100% - 8px);
        height: 2px;
        transition: all .3s ease;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes topdown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

.punchline{
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  p{
    font-family: 'playfair';
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.5rem;
    color: white;
    margin-top: 20px;
  }

  .header__cta{
    display: block;
    height: 70px;
    width: 70px;
    margin: 0 auto;

    .circle__svg{
      opacity: .2;
    }
    .arrow__svg{
      animation: topdown 1s ease-in-out infinite alternate;
    }
  }

  .header__logo{
    opacity: .5;
    width: 100%;
    max-width: 150px;
  }
}


.title__container{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  h3{
    color: white;
    font-family: 'playfair', serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }
  p{
    color: white;
    font-family:  'roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .7rem;
    text-align: center;
    margin: 0;
  }
}

.bg__black{
  background: black;
  color: white;
}

.bg__blue{
  background: #202E44;
  color: white;
  position: relative;
}

.content{
  display: block;
  width: 100%;
  max-width: 550px;
  color: white;

  &.content__center{
    font-weight: 400;
    line-height: 1.6;
    max-width: 450px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
  }

}

.f__top{
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    width: 1px;
    height: 20px;
    transform: translateX(-50%);
    background: #D3AD88;
  }
}

.f__circle{
  position: relative;
    // Left
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: -80%;
      left: -350px;
      width: 500px;
      height: 500px;
      opacity: .2;
    }

  // Right
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: -80%;
    right: -350px;
    width: 500px;
    height: 500px;
    opacity: .2;
  }

  &.f__circle__one{
    &:after{background: url("../images/step_1.svg") no-repeat;} // Left
    &:before{display: none;} // Right
  }
  &.f__circle__two{
    &:after{display: none;} // Left
    &:before{background: url("../images/step_2.svg") no-repeat;} // Right
  }
  &.f__circle__three{
    &:after{background: url("../images/step_3.svg") no-repeat;} // Left
    &:before{display: none;} // Right
  }
}

.blog__section{
  padding: 80px;
  .grid__row{
    justify-content: flex-start;
    align-items: stretch;
    .blog__short{
      width: 100%;
      max-width: 33.33%;
      position: relative;
      flex: 1;
      p{
        width: 100%;
        max-width: 400px;
      }
      .call__to{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      a{
        position: relative;
        text-align: center;
        
        color: #E6E6E6;
        font-family: "roboto";
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
    
        padding: 4px;
        margin: 0 5px;
        text-decoration: none;
    
        &.actif{
          &:after{
          content: '';
          display: block;
          position: absolute;
          left: 4px;
          background:#D3AD88;
          width: calc(100% - 8px);
          height: 2px;
          }
        }
      }
    }
  }
}

.title__section{

  &.title__middleSection{
    font-family: "playfair";
    font-size: 46px;
    margin: 0;
    line-height: 1;
    position: absolute;
    top: -31px;
  }
}

.blog__short{
  h3{
    font-family: "playfair";
    font-size: 31px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0;
    position: relative;
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 1px;
      background: #D3AD88;
      top: 0;
    }
  }
}

.testimony{
  padding-top: 80px;
  .testimony__post{
    width: 100%;
    max-width: 33.33%;
    opacity: .8;
    &:nth-of-type(odd){
      opacity: .5;
    }
    p{
      width: 100%;
      max-width: 500px;
      text-align: center;
      padding: 5px 25px;
      font-weight: 400;
    }
    .testimony__sign{
      display: inline-block;
      text-align: center;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 12px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translate(-50%,-50%);
        width: 7px;
        height: 1px;
        background: white;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translate(-50%,-50%);
        width: 7px;
        height: 1px;
        background: white;
      }
    }
  }
}


footer{
  background: #0A0E14;
  color: rgba($color: #fff, $alpha: .7);
  padding: 15px;

  .grid__row{
    align-items: inherit;
    justify-content: flex-start;
  }

  h4{
    color: rgba($color: #fff, $alpha: 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
  }

  ul{
    padding: 0;
    li{
      list-style: none;
      font-size: 14px;
      margin: 8px 0;
      a{
        color: rgba($color: #fff, $alpha: .5);
        text-decoration: none;
        &:hover{
          color: rgba($color: #fff, $alpha: .8);
        }
      }
    }
  }

  .grid__col{
    padding: 15px;
    width: 100%;
    max-width: 25%;
  }


  .footer__search{
    width: 100%;
    max-width: 50%;
    input{
      width: 100%;
      max-width: 100%;
      padding: 10px;
      background: none;
      border: none;
      outline: 1px solid rgba($color: #fff, $alpha:.5);
      border-radius: 2px;
      transition: outline .1s ease;
      color: rgba($color: #fff, $alpha:.8);
      &:focus{
        outline: 1px solid rgba($color: #fff, $alpha:.8);
      }
    }
  }
}

.fioright__in{
  position: relative;
  .thumbnail{
    -moz-transform: none !important;
    max-width: 700px;
    filter: blur(0px);
    opacity: .7;
    position: absolute;
    top: -200px;
    left: -65%;
  }

}

.fioright{
  &::after{
    content: '';
    display: block;
    position: absolute;
    opacity: .2;
    right: 0;
    top: -150px;
    transform: translateX(50%);
    width: 40vw;
    height: 40vw;
    background: url('../images/fio_1.svg') no-repeat;
    background-size: contain;
  }
  &::before{
    content: '';
    display: block;
    position: absolute;
    opacity: .2;
    right: 0;
    bottom: -150px;
    transform: translateX(50%);
    width: 40vw;
    height: 40vw;
    background: url('../images/fio_1.svg') no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 1200px) {
  .posts__container .post{
    max-width: 50%;
  }
}


@media screen and (max-width: 1150px) {
  .thumbnail{
    display: none;
  }
  .sect__oneTwo {
    .wrap{
      max-width: 750px;
      .grid__row{
        min-height: 30vh;
        p{
          max-width: 500px;
        }
        .grid__col{
          max-width: 500px;
          &.empty{
            display: none;
          }
          p{
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  footer{
    .grid__row{
      max-width: 550px;
      flex-wrap: wrap;
      justify-content: center;

    }
    .grid__col{
      width: 100%;
      max-width: 50%;
    }
    .footer__search{
      width: 100%;
      max-width: 100%;
    }
  }

  .blog__section{
    padding-bottom: 130px;
  }
  .title__middleSection{
    display: block;
    width: 100%;
    max-width: 450px;
    left: 50%;
    transform: translateX(-50%);
  }
  .blog__section .grid__row{
    flex-wrap: wrap;
    .blog__short{
      display: block;
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
      flex: none;
      &:last-of-type{
        .call__to{
          padding-top : 50px; 
          left: inherit;
          transform: translateY(-50%);
          a{
            margin-left: 0;
            padding-left: 0;
            &:after{
              left: 0;
              width: calc(100% - 4px);
            }
          }
        }
        
      }
    }
  }

  .testimony{
    &.grid__row{
      flex-wrap: wrap;
      .testimony__post{
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 35px;
        p{
          max-width: 450px;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }

  .bg__black{
    padding-bottom: 50px;
  }
}


@media screen and (max-width: 1000px) {
  .sect__oneTwo{
    padding-bottom: 140px;
  }
  .sect__oneTwo .wrap .grid__row{
    min-height: auto;
  }

  .epi__icon{
    display: block;
    position: absolute;
    z-index: 5;
    width: 100px;
    top: 20px;
    left: 20px;
    a{
      color: white;
      font-family: "playfair";
      font-weight: normal;
      font-size: 21px;
      cursor: pointer;
    }
  }

  .close__icon{
    display: block;
    color: white;
    position: absolute;
    width: 30px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    opacity: .7;
    transition: all .3s ease;
    &:hover{
      opacity: .9;
      transition: all .3s ease;
    }
  }

  .menu__icon{
    display: block;
    color: white;
    position: absolute;
    width: 30px;
    top: 20px;
    left: -60px;
    cursor: pointer;
    opacity: .7;
    transition: all .3s ease;
    &:hover{
      opacity: .9;
      transition: all .3s ease;
    }
  }

  nav{
    background: #202E44;
    height: 100vh;
    left: inherit;
    right: 0%;
    transform: none;
    transition: .6s all .3s ease;
    &.hide{
      left: inherit;
      right: -100%;
      left: inherit;
      transition: .6s all .3s ease;
    }
    .grid__row{
      top: 50%;
      transform: translateY(-50%);
    }
    .menu__header{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      a{
      text-align: center;
      font-size: 31px;
      margin-bottom: 25px;
      &.actif{
        &:after{
          width: 100px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &:hover{
        &:after{
          width: 100px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      }
    }
  }
}

@media screen and (max-width: 950px) {
  .photoProfil{
    left: 0;
  }
  .container__photoProfil span{
    left: 170px;
  }
}

@media screen and (max-width: 860px) {
  .title__section.title__middleSection{
    font-size: 36px;
    top: -26px;
  }
  .punchline{
    width: 100%;
    padding: 20px;
  }
  .punchline .header__logo{
    opacity: 0.7;
    max-width: 200px;;
  }
  .punchline p{
    font-size: 2.6rem;
    line-height: 3rem;
  }

  .section_text_centered::after{
    display: none;
  }

  .posts__container .post{
    max-width: 550px;
  }
}

@media screen and (max-width: 700px) {
  .blog__section{
    padding: 40px 20px 80px 20px;
  }
  .title__section.title__middleSection{
    padding-left: 20px;
  }
  footer{
    .grid__col{
      padding-top: 0;
      width: 100%;
      max-width: 100%;
      border-top: 1px solid rgba($color: #D3AD88, $alpha: .1);
      &:first-of-type{
        border-top: none;
      }

    }
  }
}

@media screen and (max-width: 550px) {
  .photoProfil{
    max-width: 100px;
    padding: 5px;
  }
  .container__photoProfil span{
    line-height: 90px;
    left: 120px;
    font-size: 26px;
  }
}

@media screen and (max-width: 450px) {
  .photoProfil{
    max-width: 80px;
    padding: 5px;
  }
  .container__photoProfil span{
    line-height: 70px;
    left: 100px;
    font-size: 26px;
  }

  .call__to__mail.bg__black .grid__row h4{
    font-size: 26px;
    a{
      display: block;
      font-size: 26px;
    }
  }
}
