body{
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

p{
  line-height: 1.6;
}

.wrap{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


.grid__row{
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  align-items: center;
  justify-content: center;

}
